@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');

*{
  transition: all 1s;
}

body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.author{
  color: aqua;
  font-size: 1.5rem;
}


.quote-container{
  text-align: center;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  font-size: 80%;
  height: 20vh;
  padding: 20%;

}

.quote-sub-container{
  border: wheat solid 2px;
  padding: 2%;
  border-radius: 5px;
}

.button-container{
  width: 40%;
  height: 20%;
  padding: 3%;
  margin: auto;

  
}

.new-quote-button{
  
  color: azure;

  width: 100%;
  height: 100%;

  font-size: 90%;
  border-radius: 15px;

  background-color: rgba(35, 7, 44, 0.685);

 

  font-family: 'Lobster', cursive;

}

.new-quote-button:hover{
  background-color: white;
  color: black;

}